html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;

}
body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

header {
    background-color: #8b0000;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 90px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

    .menu a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 8px 14px;
        border-radius: 5px;
        transition: 0.3s;
    }

        .menu a:hover {
            background-color: gold;
            color: black;
        }

    .menu .active {
        background-color: white;
        color: #8b0000;
    }

h1 {
    font-size: 36px;
    color: #8b0000;
    margin-bottom: 10px;
}

h2 {
    margin-top: 40px;
    color: #444;
}

h3 {
    margin-top: 25px;
}

.content-img {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

table, th, td {
    border: 1px solid #ccc;
}

th {
    background-color: #8b0000;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
}

    footer a {
        color: gold;
        text-decoration: none;
    }
